body {
	background-image: url("../images/abstract.jpg");
	opacity: 0.9;
}

/*Navigation*/

.wrapper {
	position:relative;
	margin-bottom: 5%;
}

.fixed-action-btn {
	position: relative;
	bottom: 20%;
	right: 0;
	z-index: 10;
}

.brand-logo {
	margin-left: 2%;
}

.activator {
	border-radius: 10px;
}